.menuTop{
    position: absolute;
    background-color: gray;
    border-bottom: 3px solid orange;
    height: auto;
    width: 100%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
}